<!-- Footer -->
<footer class="page-footer font-small blue fadeIn fourth">
  <div class="footer-copyright text-center py-3 mt-5">© 2020 Copyright:
    <a href="https://github.com\bkonjanovski" target="_new">bkonjanovski</a> @ <a href="https://finki.ukim.mk/" target="_new">Faculty of Computer Science & Engineering</a>
</footer>

</body>
</html>