<%- include ('../partials/header') %>

    <!-- Slideshow -->
  <section id="header" class="jumbotron text-center fadeIn second">
    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
         <img src="img/3.jpg" width="2000" height="385">
        </div>
        <div class="carousel-item">
         <img src="img/2.jpg" width="2000"height="385">
        </div>
        <div class="carousel-item">
          <img src="img/1.jpg" width="2000" height="385">
        </div>
        <div class="main-text hidden-xs" id="mainText">
          <div class="col-md-12">
            <h2>Автобуска Станица</h2> <hr>
            <h3>преглед на превозници и градови</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
    
    <!-- Prevoznici -->
  <section id="prevoznici" class="fadeIn third">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <div class="card">
            <a href="http://galeb.mk/?strana=13" target="_new"><img class="card-img-top" src="img/galeb_logo.jpg"></a>
            <div class="card-body">
              <h5 class="card-title text-center"><strong>АД Галеб <br>Охрид</strong></h5>
              <span class="card-text"><p>
              <br>
              <i class="fa mr-2 fa-location-arrow"></i>Питу Гули 4 <br>
              <i class="fa mr-2 fa-phone"></i>+389 46 251-882 <br>
              <i class="fa mr-2 fa-envelope"></i><a href="mailto: info@galeb.mk">info@galeb.mk</a>
              <br><br>
              </p></span> 
              <div class="text-center">
                <i class="fas mr-1 fa-clock"></i> Работно време: <br>
                 Пон - Пет: 08:00-16:30
                <a href="/galeb" class="btn btn-outline-dark btn-sm mt-2 ">преглед на линии</a>
              </div>
            </div>
          </div>
        </div>
          
          <div class="col-lg-3 mb-3">
        <div class="card">
          <a href="https://delfina-turs-avtobuska-ohrid-bus-station.business.site/" target="_new"><img class="card-img-top" src="img/delfina_logo.jpg"></a>
              <div class="card-body">
                <h5 class="card-title text-center"><strong>Делфина Турс Охрид</strong></h5>
              <span class="card-text"><p>
                <br>
                <i class="fa mr-2 fa-location-arrow"></i>7-ми Ноември<br>
                <i class="fa mr-2 fa-phone"></i>+389 46 253 573 <br>
                <i class="fa mr-2 fa-envelope"></i><a href="mailto: info@galeb.mk">info@delfina.mk</a><br><br>
               </p></span> 
                <div class="text-center">
                 <i class="fas mr-1 fa-clock"></i>Работно време: <br>
                Пон - Пет: 08:00-17:00
                  <a href="/delfina" class="btn btn-outline-dark btn-sm mt-2 ">преглед на линии</a>
                </div>
              </a>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 mb-3">
        <div class="card">
          <a href="https://transkop.mk/" target="_new"><img class="card-img-top" src="img/transkop_logo.jpg"></a>
              <div class="card-body">
                <h5 class="card-title text-center"><strong>Транскоп Битола</strong></h5>
              <span class="card-text"><p>
                <br>
                <i class="fa mr-2 fa-location-arrow"></i>Никола Тесла 160 <br>
                <i class="fa mr-2 fa-phone"></i>+389 47 231 192 <br>
                <i class="fa mr-2 fa-envelope"></i><a href="mailto: info@galeb.mk">info@transkop.mk</a><br><br>
               </p></span> 
              <div class="text-center">
                 <i class="fas mr-1 fa-clock"></i>Работно време: <br>
                Пон - Пет: 08:00-16:30
                  <a href="/transkop" class="btn btn-outline-dark btn-sm mt-2 ">преглед на линии</a>
                </div>
              </a>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 mb-3">
        <div class="card">
          <a href="https://www.facebook.com/pages/category/Travel-Company/Rule-Turs-1477811275599756/" target="_new"><img class="card-img-top" src="img/rule_logo.jpg"></a>
              <div class="card-body">
                <h5 class="card-title text-center"><strong>Руле Турс <br>Скопје</strong></h5>
              <span class="card-text"><p>
               <br>
               <i class="fa mr-2 fa-location-arrow"></i> Никола Карев 20 <br>
                <i class="fa mr-2 fa-phone"></i>+389 22402 527 <br>
                <i class="fa mr-2 fa-envelope"></i><a href="mailto: info@galeb.mk">info@ruleturs.mk</a><br><br>
                 </p>
                </span> 
             <div class="text-center">
                 <i class="fas mr-1 fa-clock"></i>Работно време: <br>
                Пон - Пет: 08:00-16:00
                  <a href="/rule" class="btn btn-outline-dark btn-sm mt-2 ">преглед на линии</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

<%- include ('../partials/footer') %>